<div class="wrapper">
  <div class="form">
    <h1>Añadir nueva noticia</h1>
    <div class="lineForm">
      <label for="titulo">Introduce el titulo</label>
      <input type="text" id="titulo" name="titulo" class="input" />
    </div>
    <div class="lineForm">
      <label for="fecha">Introduce la fecha</label>
      <input type="date" id="fecha" name="fecha" class="input" />
    </div>
    <div class="lineForm">
      <label for="imagen">Introduce la URL de la imagen</label>
      <input type="text" id="imagen" name="imagen" class="input" />
    </div>
    <div class="lineForm">
      <label for="texto">Introduce el texto</label>
      <textarea id="texto" name="texto" class="input textarea"> </textarea>
    </div>
    <button class="button">Guardar noticia</button>
  </div>
  <div class="noticias">
    <h1>Listado de Noticias</h1>
    <div class="listadoNoticias" [innerHtml]="cargarNoticias ()">
    </div>
  </div>
</div>
