.form {
    margin: 10px auto 40px auto;
}
@media (min-width: 768px) {
    .form {
        max-width: 50%;
    }
}

.noticias {
    margin-top: 20px;
    margin-bottom: 50px;
    border-top: 2px solid #ddd;
}

.imageResonsive {
    max-width: 100%;
}

@media (min-width: 768px) {
    .noticiaWrapper {
        display: flex;
        gap: 20px;
    }

    .image {
        flex-basis: 40%;
    }
    .noticiaContent {
        flex-basis: 60%;
    } 
}

.lineForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.textarea {
    height: 200px;
}

.button {
    border: 2px solid green;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: green;
    padding: 7px 10px;
    margin-top: 10px;
}

.date {
    color: green;
}